/*=============================================
REDES SOCIALES
=============================================*/

.redSocial{
	width:30px;
	height:30px;
	text-align: center;
	line-height:30px;
}

/*FACEBOOK*/

.facebookBlanco{
	color:white;
	background: black;
}

.facebookNegro{
	color:black;
}

.facebookColor{
	color:white;
	background:#46639f;
}

/*YOUTUBE*/

.youtubeColor{
	color:white;
	background:#d6513e;
}

.youtubeBlanco{
	color:white;
	background: black;
}

.youtubeNegro{
	color:black;
}

/*TWITTER*/

.twitterColor{
	color:white;
	background:#0ab2e6;
}

.twitterBlanco{
	color:white;
	background: black;
}

.twitterNegro{
	color:black;
}

/*GOOGLE PLUS*/

.google-plusColor{
	color:white;
	background:#d71617;
}

.google-plusBlanco{
	color:white;
	background: black;
}

.google-plusNegro{
	color:black;
}

/*INSTAGRAM*/

.instagramColor{
	color:white;
	background:linear-gradient(45deg, #fca925, #ee1d5f,  #6350a2);

}

.instagramBlanco{
	color:white;
	background: black;
}

.instagramNegro{
	color:black;
}

.skin-blue .wrapper{
    background-color:#1e0210 !important;
}


.skin-blue .main-header .navbar {
    background-color: #e66b88 !important;
}


.skin-blue .main-header .logo {
    background-color: #650b2a !important;
    color: #fff;
    border-bottom: 0 solid transparent;
}

.btn-primary {
    background-color: #aa1248e6 !important;
    border-color: #92325e !important;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #1e0210 !important;
}

.skin-blue .main-header li.user-header {
    background-color: #d05b86 !important;
}

.dropdown-menu {
    box-shadow: none;
    border-color: #bd5c5c !important;
}